<div class="config-form">
  <h2>Configuration Form</h2>
  <form (ngSubmit)="saveConfig()">
    <div class="form-group">
      <label for="totalTickets">Total Tickets:</label>
      <input id="totalTickets" [(ngModel)]="config.totalTickets" name="totalTickets" type="number" required />
    </div>

    <div class="form-group">
      <label for="ticketReleaseRate">Ticket Release Rate (Seconds):</label>
      <input id="ticketReleaseRate" [(ngModel)]="config.ticketReleaseRate" name="ticketReleaseRate" type="number" required />
    </div>
    
    <div class="form-group">
      <label for="customerRetrievalRate">Customer Retrieval Rate (Seconds):</label>
      <input id="customerRetrievalRate" [(ngModel)]="config.customerRetrievalRate" name="customerRetrievalRate" type="number" required />
    </div>

    <div class="form-group">
      <label for="maxTicketCapacity">Maximum Ticket Capacity:</label>
      <input id="maxTicketCapacity" [(ngModel)]="config.maxTicketCapacity" name="maxTicketCapacity" type="number" required />
    </div>

    <button type="submit" class="submit-button">Save Inputs</button>
  </form>
</div>

<hr />

<div class="components-container">
  <app-vendors></app-vendors>
<app-customers></app-customers>
  
</div>

