body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(4, 2, 96, 0.704);
    text-emphasis-color: white;
    overflow: scroll;
}
h1{
    text-align: center;
    color: #ffffff;
}
input{
    background-color: darkgrey;
}

button{
    color: rgb(3, 3, 93);
    
}
